---
import Layout from "../../layouts/Layout.astro";
import { FormList } from "./table";
---

<Layout title="Welcome to Astro.">
    <FormList client:only />

    <!-- <main class="h-screen w-full bg-white"> -->
    <!--     <div class="flex"> -->
    <!--         <div class="w-2/12 p-4"> -->
    <!--             <button>create</button> -->
    <!--         </div> -->
    <!--         <div class="border-2 border-black w-full p-3"> -->
    <!--             <table> -->
    <!--                 <thead> -->
    <!--                     <tr> -->
    <!--                         <th>#No</th> -->
    <!--                         <th>Name</th> -->
    <!--                     </tr> -->
    <!--                 </thead> -->
    <!--                 <tbody> -->
    <!--                     <tr> -->
    <!--                         <td>1</td> -->
    <!--                         <td>me</td></tr -->
    <!--                     > -->
    <!--                 </tbody> -->
    <!--             </table> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </main> -->
</Layout>
